%h1
	Höhere Programmierung in der Computerlinguistik mit C++ - Übung 
	=@id
=link_to 'Zurück', '/cpp'
- @sources.each do |source|
	%article
		%header
			%h2=source.title
		%p=source.description
		~raw sanitize highlight source.code, source.language
		%footer
			= link_to 'Download', "sources/download/#{source.id}"
			|
			= link_to 'Show', source
=link_to 'Zurück', '/cpp'
