%h1 Angewandte Programmierung in der Computerlinguistik - Internationaliserung und Lokalisierung
%section
	%article
		%h2 Inhalt
		%p Diese Vorlesung befasst sich mit den Themen der Internationalisierung und Lokalisierung. Der Schwerpunkt liegt auf dem Umgang mit Unicode und dem sicheren Arbeiten mit der Unicode-Kodierung UTF-8 in Perl.
		%h3 Vortrag
		=render :partial =>'shared/download_file', :locals => {:file => '/data/lehre/i18n.pdf'}
		%h3 Quelltexte zur Vorlesung
		=link_to 'Quelltext zum Thema Internationalisierung', '/data/lehre/i18n.zip'