%h1 Angewandte Programmierung in der Computerlinguistik
%section
	%p
		=link_to 'Angewandte Programmierung in der Computerlinguistik', 'https://lsf.verwaltung.uni-muenchen.de/qisserver/rds?state=verpublish&status=init&vmfile=no&publishid=404856&moduleCall=webInfo&publishConfFile=webInfo&publishSubDir=veranstaltung', :rel=> 'nofollow'
	%p Nachfolgend finden sich die Vorlesungsunterlagen zu zwei von mir übernommenen Vorlesungen.
	%section
		%ul
			%li=link_to 'Internationalsierung/Lokalisierung','/angewandte_programmierung_in_der_computerlinguistik/i18n'
			%li=link_to 'Module','/angewandte_programmierung_in_der_computerlinguistik/modules'
			%li=link_to ' CPAN','/angewandte_programmierung_in_der_computerlinguistik/cpan'
	
		