html {
	margin:0;
	padding:0;
	font-family: Verdana, sans-serif;
	font-size: 11pt;
	background-color:#222;
	color:#FFF;
}

article {
	font-size:smaller;
	margin-left:1em;
}


h1 {
	color: #FFF;
	background-color: #1A99B2;
	padding:0.3em;
	margin:0.5 1.5em;
	font-weight: lighter
	border-radius:0.5em;
	-webkit-border-radius:0.5em;
	-moz-border-radius:0.5em;
}

h2 {
	font-weight:lighter;
	border-bottom:0.1em solid #1A99B2;
}



#page_header{
	border-bottom: 0.1em solid #FFF;
	padding:0.2em;
	background-color: #1A99B2;
}

#page_header h1{
	font-family: Verdana, sans-serif;
	border-bottom: 0.1em solid #FFF;
	font-weight: lighter;
	border:none;

}

li {
	list-style-type: square;
}

li ul li{
	font-size:smaller;
	margin-left:-1.2em
}

a {
	color:#1A99B2;
	font-weight:bolder;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


table {
	text-align:left;
	color:#FFF;
}

th {
	padding:0.2em
}

td {
	padding:0.5em;
}

tr:nth-child(2n+1) {
	background-color:#444;
}

tr:nth-child(2n) {
	background-color:#555;
}

td {
	font-style:italic;
	font-size:smaller;
}

#page {
	display:block;
	width: 90%;
	margin: 15px auto;
	border:0.1em solid #EEE;
	background-color: #333;
	color:#FAFAFA;
}

#page_navigation {
	width:22%;
	float:left;

}

#page_main {
	margin:0 1em;
	float:left;
	margin:0.5em;
	padding:0.5em 1.5em;
	width:70%;
}

#page_header {
	font-size:x-large;
	margin-bottom:1em;
}

#page_header h1{
	margin:0 1em;
}

#page_footer {
	font-size:smaller;
	text-align:right;
	background-color:#555;
	padding:1.5em;
	border-top:0.1em solid #FFF;
}

.cleaner {
	display:block;
	clear:both;
}

header, article, section, footer {
	display:block;
}

.in {
	font-style:italic;
}

.authors {
	font-size:smaller;
}
