%section{:id => "sources"}
	%h2 Programmbeispiele
	-for lang in @sources.keys do
		%section
			%h3 
				Beispiele in
				= lang
			-for source in  @sources[lang] 
				%article{:class => "code"}
					= render :partial => "shared/example",  :locals => { :@source =>  source }
					