%h1 Magisterarbeit

%article
	%header
		%h2 Konstruktion historischer Wörterbücher
	%p 
		Im Rahmen dieser Arbeit wird eine graphische Benutzeroberflaäche (Graphical–User–Interface kurz GUI) entwickelt um historische Lexika zu erstellen. Die Arbeit gliedert sich in sieben Teile:
		%ol
			%li Der erste Teil zeigt die Beweggru ̈nde die zur Bescha ̈ftigung mit historischen Texten fu ̈hren.
			%li Im zweiten Teil wird auf die Besonderheiten historische Texte und die daraus resultie- renden Probleme fu ̈r die Lexikonerstellung eingegangen.
			%li Im dritten Teil werden verschiedene Verfahren zur Lexikonerstellung vorgestellt, vergli- chen und bewertet. Es wird versucht in einem Syntheseschritt die Sta ̈rken der vorgestellten Verfahren zu kombinieren.
			%li Im vierten Teil werden die Kernkomponenten des GUIs beschrieben, mit dem das Ver- fahren umgesetzt wird.
			%li Der fu ̈nfte Teil beschreibt die Funktionen des GUIs. Der sechste Teil beschreibt die Evaluation des GUIs anhand eines Testkorpus.
	=render :partial =>'shared/download_file', :locals => {:file => 'data/computerlinguistik/Konstruktion_historischer_Wörterbuecher.pdf'}


