%h1 Magisterarbeit

%article
	%header
		%h2 Konstruktion historischer Wörterbücher
	%p 
		Im Rahmen dieser Arbeit wird eine graphische Benutzeroberfläche (Graphical–User–Interface kurz GUI) entwickelt um historische Lexika zu erstellen. Die Arbeit gliedert sich in sieben Teile:
		%ol
			%li Der erste Teil zeigt die Beweggründe die zur Beschäftigung mit historischen Texten führen.
			%li Im zweiten Teil wird auf die Besonderheiten historische Texte und die daraus resultierenden Probleme für die Lexikonerstellung eingegangen.
			%li Im dritten Teil werden verschiedene Verfahren zur Lexikonerstellung vorgestellt, verglichen und bewertet. Es wird versucht in einem Syntheseschritt die Stärken der vorgestellten Verfahren zu kombinieren.
			%li Im vierten Teil werden die Kernkomponenten des GUIs beschrieben, mit dem das Verfahren umgesetzt wird.
			%li Der fünfte Teil beschreibt die Funktionen des GUIs. Der sechste Teil beschreibt die Evaluation des GUIs anhand eines Testkorpus.
	=render :partial =>'shared/download_file', :locals => {:file => 'data/computerlinguistik/Konstruktion_historischer_Wörterbücher.pdf'}


