%h1 Curriculum Vitae
%h2 In Kürze
%table
	%tr
		%th Name
		%td Andreas Neumann
	%tr
		%th Alter
		%td 30
	%tr
		%th Beruf
		%td Developerat Smarchive, Freelancer
	%tr
		%th Firma
		%td AN-iT

%h2 Tabellarischer Lebenslauf
%table
	%tr
		%th Oktober 2012 - heute
		%td
			Developer at
			=link_to 'Smarchive GmbH','http://www.smarchive.de', :rel => 'nofollow'
	%tr
		%th Februar 2012 - September 2012
		%td
			Freiberuflicher Mitarbeiter bei
			=link_to 'Smarchive GmbH','http://www.smarchive.de', :rel => 'nofollow'
	%tr
		%th September 2011 - heute
		%td Centrum für Informations- und Sprachverarbeitung (CIS) - Wissenschaftlicher Mitarbeiter: Forschung Dokumentenanalyse, OCR
	%tr
		%th SS 2011
		%td Centrum für Informations- und Sprachverarbeitung (CIS) - Dozent : Höhere Programmierung mit C++
	%tr
		%th 2011
		%td Gründung Andreas Neumann -- AN-iT
	%tr
		%th 2009 - 2011
		%td Bayerische Staatsbibliothek - Web- und Application-Developer
	%tr
		%th 2009
		%td Abschluss des Studiums mit dem Akademischen Grad Magister Artium
	%tr
		%th WS 08 / 09
		%td Centrum für Informations- und Sprachverarbeitung : Erstellung und Betreuung einer Web-Anwendung zur Konstruktion historischer Wörterbücher
	%tr
		%th WS 07 / 08
		%td Tutor : Objektorientiertes Programmieren für Computerlinguisten mit C++
	%tr
		%th SS 07
		%td Tutor : Einführung in die symbolische Programmierung mit Prolog
	%tr
		%th WS 06 / 07
		%td Tutor : Einführung in die Programmierung mit Perl
	%tr
		%th 2004 - 2009
		%td Studium: Magister Computerlinguistik, DaF, Ethnologie
	%tr
		%th 2003 - 2004
		%td Studium: Magister Daf, Ethnologie, Politik
	%tr
		%th 2002 - 2003
		%td Wehrdienst: Luftwaffenmusikkorps I
	%tr
		%th 1993 - 2002
		%td Gymnasium Neubiberg
	%tr
		%th 1982
		%td Geboren in München

%h1 Fachkenntnisse

%h2 Fachgebiete
%table
	%tr
		%th Semantische Extraktion
		%td Informationen aus analogen Dokumenten systematisch digital zugänglich machen
	%tr
		%th Web-Applikationen
		%td Expertensysteme, Suchoberflächen und Präsentation von Daten im Webbrowser
	%tr
		%th mobile Devlopment
		%td Webapplikationen optimiert für Smartphones und Tablet PCs (iPhone, iPad, Android)
	%tr
		%th Verarbeitung großer Datenmengen
		%td Je nach Anwendungsfall mit Suchmaschinentechnik, Datenbank oder selbstentwickelter Anwendung
	%tr
		%th OCR (Schwerpunkt historische Texte)
		%td Verarbeitung und Interpretation von OCR-Daten.Präsentation und Darstellung historischer Texte. Suche in historischen Texten. Extraktion logischer Strukturen.

%h2 Programmiersprachen
%table
	%tr
		%th in Projekten verwendet
		%td Scala, Ruby, Java, Perl, JavaScript
	%tr
		%th als Dozent
		%td C++
	%tr
		%th in kleine Projekten / als Tutor
		%td Prolog, R, Python

%h2 Webprogrammierung / Auszeichnungssprachen
%table
	%tr
		%th in Projekten verwendet
		%td HTML5, CSS3, XHTML, XML

%h2 Frameworks
%table
	%tr
		%th in Projekten verwendet
		%td Ruby on Rails, jQuery
	%tr
		%th in kleinen Projekten verwendet
		%td Lift

%h2 Versionsverwaltung
%table
	%tr
		%th in Projekten verwendet
		%td git, mercurial
	%tr
		%th in kleinen Projekten verwendet
		%td svn

%h2 Suchmaschinen
%table
	%tr
		%th in Projekten verwendet
		%td FAST ESP
	%tr
		%th in kleinen Projekten verwendet
		%td Lucene

%h2 Betriebssysteme
%table
	%tr
		%th Desktop
		%td MacOS X, Windows (7, XP, 2000)
	%tr
		%th Server
		%td Linux (Ubuntu, Suse), Solaris
	%tr
		%th Mobile
		%td iOS

%h2 Bibbliotheksumfeld
%table
	%tr
		%th Anwendungen
		%td OCLC Touchpoint, OCLC InfoGuide
	%tr
		%th Formate
		%td MARC, MARCXML, MAB

%h2 Anwendungen
%table
	%tr
		%th Editoren
		%td IntelliJ IDEA, Netbenas, Eclipse, Textmate
	%tr
		%th Office - Anwendungen
		%td Word, Excel, Powerpoint,  Outlook, Open Office, Keynote, Pages
	%tr
		%th Grafikbearbeitung
		%td Photoshop, Photoshop Elements


%h2 Sprachkenntnisse
%table
	%tr
		%th Deutsch
		%td Muttersprache
	%tr
		%th Englisch
		%td gut
	%tr
		%th Französisch
		%td Schulkenntnisse
	%tr
		%th Latein
		%td Schulkenntnisse

