%h1 Hauptseminararbeiten

%article
	%header
		%h2 Auswirkungen von Position und Sequenz auf Lautsymbolik
	%p Forschungsarbeit, die Untersucht  ob sich positive bzw. negative Wahrnehmung von einzelnen Lauten mit der Position im Wort oder im Umfeld anderer Laute verändert.
	=render :partial =>'shared/download_file', :locals => {:file => 'data/daf/Auswirkung_von_Position_und_Sequenz_auf_Lautsymbolik.pdf'}

%h1 Proseminararbeiten
%article
	%header
		%h2 Sprache als Magie - Magie als Sprache
	%p Sprachmagische Praktiken in der deutschen Literatur.
	=render :partial =>'shared/download_file', :locals => {:file => 'data/daf/Sprache_als_Magie_-_Magie_als_Sprache.pdf'}
%article
	%header
		%h2 "Entartete" und Deutsche Kunst
	%p Eine historisch kritisch / kontrastive Betrachtung der 1937 in München stattgefundenen Ausstellungen.
	=render :partial =>'shared/download_file', :locals => {:file => 'data/daf/"Entartete"_und_Deutsche_Kunst.pdf'}
