%h1 Hauptseminararbeiten

%article
	%header
		%h2 Digitalisierung und Aufbereitung vorhandener Forschungsdaten
	%p Ein vorhandenes Wörterbuch der Sprache Angurruk wird in ein maschinenlesbares und für die Langzeitarchivierung geeignetes Format überführt. Desweiteren zeigt die Arbeit verschiedene Möglichkeiten zur Nachnutzung der Daten auf.
	=render :partial =>'shared/download_file', :locals => {:file => 'data/ethnologie/Digitalisierung_und_Aufbereitung_vorhandener_Forschungsdaten.pdf'}

%h1 Proseminararbeiten
%article
	%header
		%h2 Die chinesische Kampfkunst - Wu Shu
	%p Kampfkunst und Medizingeschichte gehen in China Hand in Hand. Diese Arbeit versucht dem Rechnung zu tragen.
	=render :partial =>'shared/download_file', :locals => {:file => 'data/ethnologie/Die_chinesische_Kampfkunst-Wu_Shu.pdf'}

