%h1 Inhalt der Seite:
=image_tag 'Andreas-Neumann.png'
%ul
	%li
		Informationen zu Andreas Neumann:
		=link_to  'Lebenslauf', 'cv'
	%li
		Vorträge von Andreas Neumann:
		=link_to  'Vorträge Erwachsenenenbildung', 'vortraege'
		,
		=link_to  'Vorträge Bibliothekswesen (auf www.an-it.com)', 'http://www.an-it.com/vortraege'
	%li
		Arbeiten und Veröffentlichungen von Andreas Neumann:
		=link_to 'Wissenschaftliche Publikationen', 'publikationen'
		,
		=link_to 'Arbeiten Computerlingistik', 'computerlinguistik-studium'
		,
		=link_to 'Arbeiten DAF', 'daf-studium'
		,
		=link_to 'Arbeiten Ethnologie', 'ethnologie-studium'
