%h1 Lehre
%article
	%header
		%h2 Höhere Programmierung in der Computerlinguistik mit C++ im SS 11
	%p
		%h3 Quelltexte zur Vorlesung
		%ul
			%li=link_to '1. Vorlesung - Einführung / Grundlagen', '/vorlesung/1'
			%li=link_to '2. Vorlesung - Funktionen', '/vorlesung/2'
			%li=link_to '3. Vorlesung - Internationalisierung', '/vorlesung/3'
			%li=link_to '4. Vorlesung - Wiederholung', '/vorlesung/4'
			%li=link_to '5. Vorlesung - OO Objektorientierung I', '/vorlesung/5'
			%li
				6. Vorlesung: 
				=link_to 'Index mit Suchfunktion ','https://github.com/daandi/Vorlesung-CPP-SS11---Beispiel---Index', :rel => 'nofollow'
				,
				=link_to 'Beispiel Vererbung, Polymorphie : Stall ','https://github.com/daandi/Vorlesung-CPP-SS11---Beispiel--Stall', :rel => 'nofollow'
			%li=link_to '7. Vorlesung - Templates und STL', '/vorlesung/7'
			%li
				8. Vorlesung:
				=link_to 'Übungsklausur', 'data/lehre/Übungsklausur.pdf'
				,
				=link_to 'Übungsklausur-Musterlösung', 'data/lehre/Übungsklausur-Musterlösung.pdf'
			%li=link_to '9. Vorlesung - Boost und reguläre Ausdrücke', '/vorlesung/9'
			%li=link_to '10. Vorlesung - Tokenizer, Frequenzlisten, Benchmarking', '/vorlesung/10'
		%h3 Quelltexte zur Übung
		%ul
			%li=link_to '1. Übung', '/uebung/1'
			%li=link_to '2. Übung', '/uebung/2'
			%li=link_to '3. Übung', '/uebung/3'
			%li=link_to '7. Übung', '/uebung/7'
			%li=link_to '8. Übung', '/uebung/8'
			%li=link_to '9. Übung', '/uebung/9'
			%li=link_to '10. Übung', '/uebung/10'
		%h3 Klausurergebnisse
		=link_to 'Klausurergebnisse', '/lehre/cpp-SS2011-klausurergebnisse'
	
	%p
		%h3 Externe Links
		%ul
			%li=link_to 'Kursseite (extern)','http://www.cis.uni-muenchen.de/kurse/ss_11/C++/', :rel => 'nofollow'
			%li=link_to 'Tutorenseite (extern)','http://www.cip.ifi.lmu.de/~oberarzbacher/cpp/', :rel => 'nofollow'
			%li=link_to 'LSF (extern)', 'https://lsf.verwaltung.uni-muenchen.de/qisserver/rds?state=wsearchv&search=1&subdir=veranstaltung&choice.veranstaltung.semester=y&veranstaltung.dtxt=H%C3%B6here+Programmierung&veranstaltung.semester=20111&P_start=0&P_anzahl=10&P.sort=&_form=display', :rel => 'nofollow'
		
