%h1 Lehre
%article
	%header
		%h2 Höhere Programmierung in der Computerlinguistik mit C++ im SS 11
	%p
		%h3 Quelltexte zur Vorlesung
		%ul
			%li=link_to '1. Vorlesung - Einführung / Grundlagen', '/vorlesung/1'
			%li=link_to '2. Vorlesung - Funktionen', '/vorlesung/2'
			%li=link_to '3. Vorlesung - Internationalisierung', '/vorlesung/3'
			%li=link_to '4. Vorlesung - Wiederholung', '/vorlesung/4'
	%p
		%h3 Externe Links
		%ul
			%li=link_to 'Kursseite (extern)','http://www.cis.uni-muenchen.de/kurse/ss_11/C++/', :rel => 'nofollow'
			%li=link_to 'Tutorenseite (extern)','http://www.cip.ifi.lmu.de/~oberarzbacher/cpp/', :rel => 'nofollow'
			%li=link_to 'LSF (extern)', 'https://lsf.verwaltung.uni-muenchen.de/qisserver/rds?state=wsearchv&search=1&subdir=veranstaltung&choice.veranstaltung.semester=y&veranstaltung.dtxt=H%C3%B6here+Programmierung&veranstaltung.semester=20111&P_start=0&P_anzahl=10&P.sort=&_form=display', :rel => 'nofollow'
		
