%h1 Links
%h2 Entwicklung
%ul
	%li=link_to 'Andreas Neumann auf RubyGems', 'http://rubygems.org/profiles/andreas_neumann', :rel => 'nofollow'
	%li=link_to 'Andreas Neumann bei GitHub', 'http://github.com/daandi', :rel => 'nofollow'
%h2 Profile in sozialen Netzwerken:
%ul
	%li=link_to 'Twitter', 'http://twitter.com/andreas_neumann', :rel => 'nofollow'
	%li=link_to 'LinkedIN', 'http://www.linkedin.com/in/neumannandreas', :rel => 'nofollow'
	%li=link_to 'Xing', 'http://www.xing.com/profile/Andreas_Neumann47', :rel => 'nofollow'
	%li=link_to 'Librarything', 'http://www.librarything.com/profile/daandi', :rel => 'nofollow'
%h2 Seiten von mir:
%ul
	%li=link_to 'AN-iT', 'http://www.an-it.com'
	%li=link_to 'PTN-GmbH', 'http://www.ptn-gmbh.org', :rel => 'nofollow'
	%li=link_to 'SATB', 'http://www.satb.info', :rel => 'nofollow'
