%h1 Publikationen 2010
%article
	%header
		%h2 Towards information retrieval on historical document collections: the role of matching procedures and special lexica
		in
		.in International Journal of Document Analysis and Recognition (IJDAR), pp. 1-13
		.authors
			Annette Gotscharek, Andreas Neumann, Ulrich Reffle, Christoph Ringlstetter, Klaus U. Schulz
	%p
	=coins_helper :title => 'Enabling Information Retrieval on Historical Document Collections - the Role of Matching Procedures and Special Lexica.', :author=> 'Annette Gotscharek, Andreas Neumann, Christoph Ringlstetter, Klaus U. Schulz, Ulrich Reffle', :url => request.fullpath, :journal_tile => 'International Journal of Document Analysis and Recognition (IJDAR)', :date => '2010'

%article
	%header
		%h2 Die Bibliothek in der Hosentasche
		%h3 Der OPACplus mobil der Bayerischen Staatsbibliothek.
		in
		.in Forum Bibliothek und Information, pp. 576-577.
		.authors
			Andreas Neumann
	%p
	=coins_helper :title => 'Die Bibliothek in der Hosentasche', :author=> 'Andreas Neumann', :url => request.fullpath, :journal_tile => 'Forum Bibliothek und Information', :date => '2010'
%h1 Publikationen 2009
%article
	%header
		%h2 Enabling Information Retrieval on Historical Document Collections - the Role of Matching Procedures and Special Lexica.
		in
		.in Proceedings of the ACM SIGIR 2009 Workshop on Analytics for Noisy Unstructured Text Data (AND 2009), Barcelona, 2009.
		.authors
			Annette Gotscharek,
			Andreas Neumann,
			Christoph Ringlstetter,
			Klaus U. Schulz,
			Ulrich Reffle
	%p
	=coins_helper :title => 'Enabling Information Retrieval on Historical Document Collections - the Role of Matching Procedures and Special Lexica.', :author=> 'Annette Gotscharek, Andreas Neumann, Christoph Ringlstetter, Klaus U. Schulz, Ulrich Reffle', :url => request.fullpath, :journal_tile => 'Proceedings of the ACM SIGIR 2009 Workshop on Analytics for Noisy Unstructured Text Data (AND 2009), Barcelona, 2009.', :date => '2009'

%article
	%header
		%h2 Constructing a Lexicon from a Historical Corpus.
		in
		.in Conference of the American Association for Corpus Linguistics (AACL09), Edmonton 2009.
		.authors
			Annette Gotscharek, Andreas Neumann, Ulrich Reffle, Christoph Ringlstetter, Klaus U. Schulz
	%p
	=coins_helper :title => 'Constructing a Lexicon from a Historical Corpus.', :author=> 'Annette Gotscharek, Andreas Neumann, Ulrich Reffle, Christoph Ringlstetter, Klaus U. Schulz', :url => request.fullpath, :journal_tile => 'Conference of the American Association for Corpus Linguistics (AACL09), Edmonton 2009.', :date => '2009'
