%article
	%header 
		%h1 Soziale Netzwerke
	%p
		Facebook, Twitter, Lokalisten. Soziale Netzwerke sind mittlerweile ein Teil unseres Alltags geworden.
		Neben vielen Chancen weist dieser Bereich auch erhebliche Risiken auf.
		Folgende Vorträge bieten einen Überblick über die wichtigsten Vertreter und aktuellen Trends, zum Entstehungszeitpunkt des Vortrags.
	%h2 Soziale Netzwerke 2010
	=coins_helper :title => "Soziale Netzwerke 2010"
	=render :partial =>'shared/download_file', :locals => {:file => 'data/Soziale_Netzwerke_2010.pdf'}
	%h2 Soziale Netzwerke 2009
	=render :partial =>'shared/download_file', :locals => {:file => 'data/Soziale_Netzwerke_2009.pdf'}
	%h2 Soziale Netzwerke 2008
	=render :partial =>'shared/download_file', :locals => {:file => 'data/Soziale_Netzwerke_2008.pdf'}
%article
	%header 
		%h1 Was kann mein handy mir bieten?
	%p
		Der Vortrag richtet sich an unsere älteren Mitbürger. In einer Mischung aus Vortrag und Übung wird die sachgerechte Benutzung eines Mobiltelefons eingeübt. Inhaltliche Schwerpunkte sind:
		%ul
			%li Mobiltelefone, ein Überblick
			%li Grundlegende Bedienung (Stummschaltung, Tastensperre, Telefonieren usw.)
			%li Kontaktverwaltung
			%li Kurznachrichten empfangen und schreiben
		=render :partial =>'shared/download_file', :locals => {:file => 'data/Mobilfunk.pdf'}
