%h1 Logische Dokumentenanalyse - OCR-Datenformate
%article
	%p Die Vorlesung soll einen Überblick über verschiedene Datenformate im OCR-Umfeld vermitteln. Dabei werden neben PlainText, hOCR, AbbyyXML, AltoXML auch allgemeine Elemente und Methoden im Aufbau eines solchen Formats in den Fokus gestellt.
	=render :partial =>'shared/download_file', :locals => {:file => '/data/document_understanding/Formate.pdf'}
	%p Eine erweiterte Version des Vortrags mit eingebetteten Beispielen:
	=render :partial =>'shared/download_file', :locals => {:file => '/data/document_understanding/Formate erweitert.pdf'}

