%h1 Logische Dokumentenanalyse
%section
	%pDer Kurs findet unter der Leitung von Professor Klaus U. Schulz statt.
	%p=link_to 'Logische Dokumentenanalyse im LSF', 'https://lsf.verwaltung.uni-muenchen.de/qisserver/rds?state=verpublish&status=init&vmfile=no&publishid=403808&moduleCall=webInfo&publishConfFile=webInfo&publishSubDir=veranstaltung', :rel=> 'nofollow'
	%p Nachfolgend finden sich die Vorlesungsunterlagen zu zwei von mir übernommenen Kurseinheiten.
%section
	%ul
		%li=link_to 'OCR-Datenformate','/document_understanding/file_formats'
		%li=link_to ' Arbeiten mit OCR-Dokumenten / Techniken / Grundlagen','/document_understanding/techniques'
	
	
