%h1 Logische Dokumentenanalyse -Arbeiten mit OCR-Dokumenten / Techniken / Grundlagen
%article
	%p 
		Themen dieser Vorlesungseinheit sind:
		%ul
			%li Die Modellierung der OCR-Dokumentenstruktur als Objekt
			%li Methoden um Relationen zwischen einzelnen OCR-Elementen zu modellieren
			%li Globale Beobachteungen im Dokumentenkontext zum Auffinden fundamentaler Layoutstrukturen nutzen
	%p Das ganze erfolgt anhand zweier Beispielimplmentierungen, in einer Scriptsprache (Ruby) und einer statischen Sprache (Scala),
	=render :partial =>'shared/download_file', :locals => {:file => '/data/document_understanding/Techniken_Grundlagen.pdf'}

