%h1 Ten Minutes Of Ruby
%p Einstieg in die Programmiersprache Ruby für Vielbeschäftigte. Die Kapitel sollten sich in 10 Minuten abhandeln lassen und damit einen kleinen Einblick in die Hauptkonzepte der Programmiersprache Ruby verschaffen.

%section
	%article
		%h2 Abschnitte
		%ul
			%li=link_to 'Ruby und Perl, ein Sprachvergleich', '/ten_minutes_of_ruby/ruby_vs_perl'
			%li=render :partial =>'shared/download_file', :locals => {:file => 'data/ten_minutes_of_ruby/1. Installation.pdf'}
			%li=render :partial =>'shared/download_file', :locals => {:file => 'data/ten_minutes_of_ruby/2. Zahlen, Strings und Datenstrukturen.pdf'}
			%li=render :partial =>'shared/download_file', :locals => {:file => 'data/ten_minutes_of_ruby/3. Klassen.pdf'}
			%li=render :partial =>'shared/download_file', :locals => {:file => 'data/ten_minutes_of_ruby/4. gem.pdf'}
	
			
	