%header
	%h1 Abbyy XML
%section
	%h2 Beschreibung : Abbyy XML
	%article
		%h3 Allgemein
		%p XM-Format der Firma Abbyy zur Kodierung von gescannten Texten.
%section
	%h2 Struktur
	%article
		%h3 Formatierung
		%p Nicht erwünscht
		%h3 Layout / Typen
		%p keine
		%h3 Logische Strukturierung
		%p Im XML sind folgende logische Einheiten direkt kodiert:
		%ul
			%li BlockType
			%li TextType, TableRowType
			%li ParagraphType
			%li LineType, FormattingType
			%l WordRecognitionVariant, CharRecognitionVariant, CharParamsType
		%p In unserem Beispiel: Seite (page) -> Blöcke (Block) -> Paragraphen (paragraph) -> Zeilen (line) -> Zeichen (charParam)
		%p Indirekt sind die Wörter durch Wortgrenzen in den XML Attributen kodiert
		=link_to "Beschreibende Schema-Datei", 'http://www.abbyy.com/FineReader_xml/FineReader8-schema-v2.xml', :rel => 'nofollow'
%section
	%h2 Besonderheiten
	
%section
	%header
		%h2 Beispiele
	%article
		%h3 Das Bild auf dessen Verarbeitung das OCR basiert
		=image_tag 'data_munging/abbyy_xml_example.tif', :width => '800px'
		%h3 Abbyy XML Beispiel
		%p Gekürzter Auszug aus der zugehörigen Abbyy-XML-Datei:
		~sanitize highlight @abbyy_example_xml, :xml
		=link_to 'komplette Abbyy-XML-Datei herunterladen', '/data/data_munging/abbyy_xml_example.xml'
%section
	%h2 Erstellen, verarbeiten
	%article
		%h3 Abby XML erstellen
		%p Abby XML Dateien, werden im Rahmen des OCR-Prozesses erstellt. Es handelt sich um eine maschinell generierte Ausgabe ohne menschliche Intervention.
		%h3 Abby XML verarbbeiten
		%p Zum verarbeiten muss die Datei, wie bei XML  üblich geparst werden. Daraufhin müssen die Informationen interpretiert werden.

= render :partial => "shared/examples"

	
		
