%header
	%h1  Analyzed Layout and Text Object (ALTO) XML Schema 
%section

	%h2 Beschreibung : Alto XML
	%article
		%p 
			Alto XML ist ein  standartisiertes, aus der Bibliothekswelt stammendes XML-Format um Dokumentlayout zu beschreiben. Im normalfall tritt er zusammen mit
			=link_to 'METS', 'http://www.loc.gov/standards/mets/', :rel => 'nofollow'
			auf.

	%h2 Struktur
	%article
		%h3 Formatierung
		%p wird beschrieben, Datei selbst nicht
		%h3 Layout / Typen
		%p werden beschrieben, in Datei selbst nicht
		%h3 Logische Strukturierung
		%p Drei Hauptstrukturen &lt;Description&gt;, &lt;Styles&gt;, &lt;Layout&gt; beschreiben einzelne Aspekte des Dokumentlayouts.

		=link_to "Alto-XML-Schema-Datei", 'http://www.loc.gov/standards/alto/alto-v2.0.xsd', :rel => 'nofollow'
		=link_to 'Alle Elemente des Schemas erklärt','http://www.loc.gov/standards/alto/techcenter/elementSet/index.php', :rel => 'nofollow'
		
%section
	%h2 Besonderheiten
	%article
		%h3 &lt;description&gt; - Abschnitt
		%p Hier finden sich Metadaten zum beschriebenen Dokument.
		%h3 &lt;Styles&gt; - Abschnitt
		%p
			Im Style Abschnitt werden alle Informationen zu Typen und Layout kodiert.
			%ul
				%li &lt;TextStyle&gt; : Informationen zu der verwendeten Schriftart
				%li &lt;ParagraphStyle&gt; : Layoutinformationen, wie Ausrichtung
			=link_to 'Komplettüberblick über Alto-XML-Styles','http://www.loc.gov/standards/alto/techcenter/layout.php', :rel => 'nofollow'
		%h3 &lt;Layout&gt; - Abschnitt
		%p
			Im Layoutabschnitt findest sich wiedersprüchlicherweise der Inhalt des Dokuments.
			Ein Dokument besteht aus einer oder mehreren &lt;Page&gt;-Elementen.
		%h3 Maßeinheiten
		%p Positionasangaben werden in 1/10mm oder 1/1200inch gemacht.
		%h3 Umrechnung in Pixel
		%p 
			%ul
				%li Bei Angabe in 1/1200inch: Wert * Auflösung des Dokuments / 1200
				%li Bei Angabe in 1/100mm: Wert * Auflösung des Dokuments / 254

%section
	%h2 Beispiele
	%article
		%h3 Das Ausgangsbild
		%p
			Beispiel stammt von der
			=link_to 'Abbyy Developer Seite','http://www.abbyy-developers.eu/en:tech:features:alto', :rel => 'nofollow'
		=image_tag 'data_munging/alto_image_quarter_size.png'
		%h3 Auszug aus einer der möglichen ALTO XML Dateien
		~sanitize highlight @alto_example_xml, :xml
		%p
			Alle Daten stammen von der
			=link_to ' Abbyy Developer Seite','http://www.abbyy-developers.eu/en:tech:features:alto', :rel => 'nofollow'
			\. Dort können auch alternative Interpretation heruntergeladen werden.

%section
	%h2 Erstellen, verarbeiten
	%article
		%h3 Alto XML erstellen
		%p Alto XML Dateien, werden im Rahmen des OCR-Prozesses erstellt. Es handelt sich um eine maschinell generierte Ausgabe ohne menschliche Intervention.
		%h3 Alto XML verarbeiten
		%p Zum verarbeiten muss die Datei, wie bei XML  üblich geparst werden. Daraufhin müssen die Informationen interpretiert werden.


	
	

= render :partial => "shared/examples"

	
		
