%header
	%h1 Comma Seperated Values (CSV)
%section
	%h2 Beschreibung : CSV
	%article
		%h3 Allgemein
		%p Tablleraische Daten werden unter zuhilfename zweier zuvor festgelegter Trennzeichen in eine Textdatei geschrieben.
		%p Häufiges Austauschformat.
%section
	%h2 Struktur
	%article
		%h3 Formatierung
		%p Nicht erwünscht
		%h3 Layout / Typen
		%p keine
		%h3 Logische Strukturierung
		%p wird durch Trennzichen erreich. Üblich sind "\n" um Zeilen und "," um Splaten zu trennen.
%section
	%h2 Besonderheiten
	%article
		%h2 Zeichentrenner
		%p Es gibt keinen wirklichen Standard nur Konventionen. Als Zeilentrenner werden meist Varianten von "\n, \r" benutzt. Als Splatentrenner finden häufig ",",";","\t" Verwendung.
%section
	%header
		%h2 CSV-Datei erstellen, bearbeiten und anzeigen
	%article
		%p CSV Dateien lassen sich mit einem beliebigen Texteditor erstellen und bearbeiten. Hier ist die Fehleranfälligkeit ziemlich groß.
		%p Man kann CSV-Dateien aus fast allen Tabellenkalkulationsprogrammen als Exportformat erzeugen und auch in diese importieren. Dabei findet im normalfall auch eine Konsistenzprüfung im Hinsicht auf die Trennzeichen statt.
%section
	%header
		%h2 Beispiele
	%article
		%h3 Ein einfaches Beispiel
		%ul
			%li
				Als Textdatei:
				~sanitize highlight @csv_example, :csv
				%p=link_to "CSV- Beispieldatei", '/data/data_munging/csv_example.csv'
			%li
				Als Tabelle:
				=image_tag 'data_munging/csv.png'
	%article
		%h3 Ein komplexeres Beispiel
		%ul
			%li
				Als Textdatei:
				~sanitize highlight @csv_example_complex, :csv
				%p=link_to "Komplexere CSV- Beispieldatei", '/data/data_munging/moreComplex.csv'
			%li
				Als Tabelle:
				%p=image_tag 'data_munging/csv_complex.png'
	

= render :partial => "shared/examples"

	
		
