%header
	%h1 Elastic Search
%section
	%h2 Beschreibung : Elastic Search
	%article
		%h3 Allgemein
		%p Elastic Search ist eine schemafreie, verteilte Suchmaschine die Dokumente als JSON speichert und per JSON bedient wird.
%section
	%h2 Besonderheiten
	%article
		%ul
			%li Einfache Einbindung: Anfragen und Daten als JSON
			%li Sharding und Verteilung
	
%section
	%h2 Installation
	%article
		%h3 Download
		%ul
			%li=link_to 'Elastic Search','http://www.elasticsearch.org', :rel => 'nofollow'
			%li=link_to 'Elastic Search Download','http://www.elasticsearch.org/download/', :rel => 'nofollow'
		%h3 Starten der Anwendung
		=link_to "Tutorial",'http://www.elasticsearch.org/guide/reference/setup/installation.html'
	
			
%section
	%h2 Benutzung
	%article
		%h3 Daten zum Index hinzufügen
		%ul
			%li
				Nutzer andi mit Feld "name" mit Wert "Andreas Neumann" anlegen 
				~sanitize highlight 'curl -XPUT http://localhost:9200/library/user/andi -d \'{\n    "name" : "Andreas Neumann"\n}\'', :bash
			%li
				Buch mit "title" : "Programming Scala" hinzufügen
				~sanitize highlight 'curl -XPUT http://localhost:9200/library/book/1 -d \'{\n    "user": "andi",\n    "post_date": "Di 26 Jun 2012 08:13:37 CEST",\n    "title": "Programming Scala",\n	"author" : "Martin Odersky"\n}\'', :bash
			%li
				Buch mit "title" : "Laus stultitiae" mit einem Textauszug hinzufügen
				~sanitize highlight 'curl -XPUT http://localhost:9200/library/book/2  -d \'{\n    "user": "andi",\n    "post_date": "2009-11-15T14:12:12",\n    "title": "Laus stultitiae",\n	"text": "ERASMVS ROT. THOMAE MORO SVO S. D.\\nSuperioribus diebus cum me ex Italia in Angliam recepissem, ne totum hoc tempus quo equo fuit insidendum amusois et illitteratis fabulis tereretur, malui mecum aliquoties uel de communibus studiis nostris aliquid agitare, uel amicorum, quos hic ut doctissimos ita et suauissimos reliqueram, recordatione frui. Inter hos tu, mi More, uel in primis occurrebas; cuius equidem absentis absens memoria non aliter frui solebam quam presentis presens consuetudine consueueram; qua dispeream si quid unquam in uita contigit mellitius. Ergo quoniam omnino aliquid agendum duxi, et id tempus ad seriam commentationem parum uidebatur accommodatum, uisum est Moriæ Encomium ludere.\\nQue Pallas istuc tibi misit in mentem? inquies. Primum admonuit me Mori cognomen tibi gentile, quod tam ad Moriæ uocabulum accedit quam es ipse a re alienus; es autem uel omnium suffragiis alienissimus. Deinde suspicabar hunc ingenii nostri lusum tibi precipue probatum iri, propterea quod soleas huius generis iocis, hoc est nec indoctis, ni fallor, nec usquequaque insulsis, impendio delectari, et omnino in communi mortalium uita Democritum quendam agere. Quanquam tu quidem, ut pro singulari quadam ingenii tui perspicacitate longe lateque a uulgo dissentire soles, ita pro incredibili morum suauitate facilitateque cum omnibus omnium horarum hominem agere et potes et gaudes. Hanc igitur declamatiunculam non solum lubens accipies ceu mnemosunon tui sodalis, uerum etiam tuendam suscipies, utpote tibi dicatam iamque tuam non meam.\\nEtenim non deerunt fortasse uitilitigatores, qui calum nientur partim leuiores esse nugas quam ut theologum deceant, partim mordaciores quam ut Christiane conueniant modestie; nosque clamitabunt ueterem comediam aut Lucianum quempiam referre atque omnia mordicus arripere. Verum quos argumenti leuitas et ludicrum offendit, cogitent uelim non meum hoc exemplum esse, sed idem iam olim a magnis auctoribus factitatum; cum ante tot secula Batrachomuomachian luserit Homerus, Maro Culicem et Moretum, Nucem Ouidius; cum Busyriden laudarit Polycrates et huius castigator Isocrates, iniustitiam Glauco, Thersiten et quartanam febrim Fauorinus, caluitiem Synesius, muscam et parasiticam Lucianus; cum Seneca Claudii luserit apotheôsin, Plutarchus Grylli cum Ulysse dialogum, Lucianus et Apuleius Asinum, et nescio quis Grunnii Coro cottæ porcelli testamentum, cuius et diuus meminit Hieronymus Proinde, si uidebitur, fingant isti me laterunculis in terim animi causa lusisse, aut si malint equitasse in arundine longa. Nam que tandem est iniquitas, cum omni uite insti tuto suos lusus concedamus, studiis nullum omnino lusum permittere, maxime si nuge seria ducant, atque ita tractentur ludicra ut ex his aliquanto plus frugis referat lector non omnino naris obese, quam ex quorundam tetricis ac splendidis argumentis? ueluti cum alius diu consarcinata oratione rhetoricen aut philosophiam laudat, alius principis alicuius laudes describit, alius ad bellum aduersus Turcas mouendum adhortatur, alius futura predicit. alius nouas de lana caprina comminiscitur questiunculas. Vt enim nihil nugacius quam seria nugatorie tractare, ita nihil festiuius quam ita tractare nugas ut nihil minus quam nugatus fuisse uidearis. De me quidem aliorum erit iudicium; tamet si, nisi plane me fallit philautia, Stulticiam laudauimus, sed non omnino stulte.\\nIam uero ut de mordacitatis cauillatione respondeam, semper hec ingeniis libertas permissa fuit, ut in communem hominum uitam salibus luderent impune, modo ne licentia exiret in rabiem. Quo magis admiror his temporibus aurium delicias que nihil iam fere nisi solennes titulos ferre possunt. Porro nonnullos adeo prepostere religiosos uideas, ut uel grauissima in Christum conuicia ferant citius quam pontificem aut principem leuissimo ioco aspergi, presertim si quid pros ta alphita id est ad questum, attinet. At enim qui uitas hominum ita taxat ut neminem omnino perstringat nominatim, queso utrum is mordere uidetur an docere potius ac monere? Alioqui quot obsecro nominibus ipse me taxo? Preterea qui nullum hominum genus pretermittit, is nulli homini, uiciis omnibus iratus uidetur. Ergo si quis extiterit qui sese lesum clamabit, is aut conscientiam prodet suam aut certe metum. Lusit hoc in genere multo liberius ac mordacius diuus Hieronymus, ne nominibus quidem ali quoties parcens. Nos preterquam quod a nominibus in to tum abstinemus, ita preterea stilum temperauimus ut cordatus lector facile sit intellecturus nos uoluptatem magis quam morsum quesisse. Neque enim ad Iuuenalis exemplum occultam illam scelerum sentinam usquam mouimus, et ridenda magis quam foeda recensere studuimus. Tum si quis est quem nec ista placare possunt, is saltem illud meminerit, pulchrum esse a Stulticia uituperari; quam cum loquentem fecerimus, decoro persone seruiendum fuit. Sed quid ego hec tibi, patrono tam singulari ut causas etiam non optimas optime tamen tueri possis? Vale, disertissime More, et Moriam tuam gnauiter defende.\\nEx Rure Quinto Idus Iunias, [AN. MDVII].\\nMORIAS ENCOMION\\nID EST:\\nSTVLTITIÆ LAVS\\nDESIDERII ERASMI ROTERODAMI DECLAMATIO\\nStultitia loquitur\\n1. Vtcumque de me uulgo mortales loquuntur, neque enim sum ..."\n}\'', :bash
			
		%h3 Direktzugriff auf Daten im Index
		%p Da es sich um eionen Rest-basierten Ansatz handelt lassen sich die Daetn direkt über eine URL ansprechen. Dazu kann man wieder das Kommandozeilenwerkzeug curl benutzen oder auch einen Webbrowser.
		%ul
			%li
				Das erste indexierte Buch aus dem Index holen:
				%ul
					%li
						Per Kommandozeile
						%p~sanitize highlight 'curl -XGET http://localhost:9200/library/book/1', :bash
					%li
						Mit dem Browser
						=image_tag 'data_munging/elastic_search_get1.png'
		%h3 Suchen im Index
		%p Auch hier ist der Weg übder Kommandozeile oder Browser möglich.
		%ul
			%li
				Das erste indexierte Buch aus dem Index holen:
				%ul
					%li
						Per Kommandozeile
						%p~sanitize highlight 'curl -XGET http://localhost:9200/library/book/_search -d \'{\n    "query" : {\n        "text" : { "title": "Programming" }\n    }\n}\'', :bash
						%p~sanitize highlight '{"took":4,"timed_out":false,"_shards":{"total":5,"successful":5,"failed":0},"hits":{"total":1,"max_score":0.19178301,"hits":[{"_index":"library","_type":"book","_id":"1","_score":0.19178301, "_source" : {     "user": "andi",     "post_date": "Di 26 Jun 2012 08:13:37 CEST",     "title": "Programming Scala", "author" : "Martin Odersky" }}]}}',:json
							
					%li
						Mit dem Browser
						=image_tag 'data_munging/elastic_search_search.png'
		
				
				
			
	
		
