%header
	%h1 HTML - Hyper-Text-Markup-Language
%section
	%h2 Beschreibung : HTML
	%article
		%h3 Allgemein
		HTML ist das Standardaustauschformat im World Wide Web. Es wird von einem Webbrowser interpretiert und nagezeigt. Die Strukturierungseinheiten werden Tags genannt.
%section
	%h2 Struktur
	%article
		%h3 Logische Strukturierung
		%p HTML bietet diverse Tag zu logischen Strukturierung an. 
		%p Im Standard HTML4 stehen u.a. Listen, Tabellen, Paragraphen und Überschriften zur Verfügung.
		%p Der neue Standard HTML5 erweitert diese u.a. noch um Elemente wie &lt;section&gt;, &lt;article&gt;, &lt;nav&gt;.
		%p Aufgrund des Missbrauchs logischer Strukturelemente für Design (v.a. Tabellen) sind die HTML4-Elemente selten verlässliche Indikatoren für eine logische Strukturierung.
		%h3 Formatierung
		%p Zur Formatierung stehen Tags wie &lt;b&gt; für bold und &lt;i&gt; für italic sowie aus Textverarbeitungsprogrammen bekannte Methoden zur Alignierung zur Verfügungn. Von deren Benutzung wird mittlerweile abgeraten.
		%p Design und Layout wird durch den Einsatz von CSS (Cascading Stylesheets) erriecht. Ziel war es Design vom Inhalt zu trennen.
		%h3 Layout / Typen
		%p Layout wird wie gesagt mesit mit CSS realisiert. Ursprünglich war die Typenauswahl auf wenige Standardschriften (Times, Arial, Tahoma, Verdana, Monspace ...) eingeschränkt.
		%p Im HTML5-Standard ist das Nachladen spezieller Font-Dateien möglich.
		
%section
	%h2 Besonderheiten
	%article
		%h2 Varianten
		%h3 HTML 3,4,5
		%p Es existieren mehrere Varianten des Standards HTML. Diese sind größtenteils Abwärtskompatibel.	
		%h3 Browserspezifische Anpassungen, Quirks Mode
		%p Der Standard wird von unterschiedlichen Browsern nicht immer gleich interpretiert. Der Zustand hat sich aber mit den Jahren stark verbessert.
		%h3 Inline JavaScript / CSS
		%p Es ist nicht unüblich andere Sprachen in speziellen Tags innerhalb von HTML zu finden. So ist z.B. oft JavaScript Code in sog. &lt;script&gt;-Tags innerhalb einer HTML-Datei zu finden
		%h3 Tags
		%p 
			Der Standard ist im Gegensatz zu XML bei der Interpretation der Tags sehr weit gefasst:
			%ol
				%li &lt;BR&gt;
				%li &lt;br&gt;
				%li &lt;a&gt;&lt;/A&gt;
				%li &lt;B&gt;&lt;/B&gt;
			All diese Kombinationen sind valides HTML. Man beachte Beispiele 2. und 3. , dies würde bei XML zu einem invaliden Dokument führen, in HTML ist dies aber erlaubt.
%section
	%p HTML Dateien werden im normalfall mit einem Web-Browser geöffnet und von diesem interpretiert, öffnet man sie mit einem Texteditor kann man deren Quelltet sehen.
	%h2 HTML-Dateien anzeigen
	%article
		%h3 Mozilla-basierte Browser: Firefox
		%h3 Web-Kit-basierte Browser: Chrome, Safari
		%h3 Internet Explorer
		%h3 Opera
		%h3 Textbrowser: Lynx
	%h2 HTML-Dateien bearbeiten
	%article
		%h3 Mit einem Texteditor
		%h3 WYSIWYG-Editor
%section
	%header
		%h2 Programmatisch
		Je nachdem ob man sich mit Plain-Text zufrieden gibt oder sich die Strukturen zunutze machen will kan das parsen und extrahieren von Daten aus einem HTML-Dokument einfach oder sehr aufwendig sein.

	
		
