%h1 Data-Munging
%article
	%header
		%h2 Data-Munging im SS 12
	%h3 Kurs
	%ul
		%li=link_to 'Data-munging - Kursbeschreibung', '/data_munging/about'
	%h3 Datenextraktion
	%ul
		%li=link_to 'Plain-text, Textdateien und Kodierungswahnsinn', '/data_munging/plain_text'
		%li=link_to 'CSV ( Comma-Separated Values), tabellarische Daten im TExtformat', '/data_munging/csv'
		%li=link_to 'Word', '/data_munging/word'
		%li=link_to 'ODT - Open Office Texte', '/data_munging/odt'
		%li=link_to 'Excel, CSV', '/data_munging/excel'
		%li=link_to 'Portable Document Format, PDF', '/data_munging/pdf'
		%li=link_to 'HTML', '/data_munging/html'
		%li=link_to 'Wikipedia - Dumps', '/data_munging/html'
		%li=link_to 'XML', '/data_munging/xml'
		%li=link_to 'XML 2', '/data_munging/xml'
		%li=link_to 'hOCR - Text und Layout', '/data_munging/hocr'
	%h3 Datenbereitstellung
	%ul
		%li=link_to 'Webserver und Statische Daten', '/data_munging/static_data'
		%li=link_to 'Dynamische Daten', '/data_munging/dynamic_data'
		%li=link_to 'Webframeworks und ORM', '/data_munging/frameworks'
		%li=link_to 'REST/SOAP', '/data_munging/rest'



