%header
	%h1 Data-Munging im SS 12
%article
	%h2 Kurs
	%ul
		%li=link_to 'Data-Munging - Kursbeschreibung', '/data_munging/about'
	%h2 Datenextraktion
	%ul
		%li=link_to 'Plain-text, Textdateien und Kodierungswahnsinn', '/data_munging/plain_text'
		%li=link_to 'CSV ( Comma-Separated Values), tabellarische Daten im Textformat', '/data_munging/csv'
		%li=link_to 'JSON - JavaScript Object Notation', '/data_munging/json'
		%li=link_to 'XML - Extensible Markup Language', '/data_munging/xml'
		%li=link_to 'TEI - Text Encoding Initiative - eine Beschreiungssprache in XML', '/data_munging/tei'
		%li=link_to 'Wikipedia - Dumps', '/data_munging/wikipedia_dump'
		%li 
			XML und OCR
			=link_to 'Abbyy XML', '/data_munging/abbyy_xml'
			und
			=link_to 'Alto XML', '/data_munging/alto_xml'
		%li=link_to 'HTML', '/data_munging/html'
		%li=link_to 'hOCR - Text und Layout', '/data_munging/hocr'
		%li=link_to 'PDF - Portable Document Format', '/data_munging/pdf'
		%li
			=link_to 'Word', '/data_munging/word'
			und
			=link_to 'Excel', '/data_munging/excel'
		%li=link_to 'ODF - Open Document Format - Offene Allternatives Dokumentformate', '/data_munging/odf'
		
		
	%h2 Datenbereitstellung
	%ul
		%li=link_to 'Kommunikation im Internet - Clients und Server', '/data_munging/client_server'
		%li=link_to 'Statische Daten', '/data_munging/static_data'
		%li=link_to 'Dynamische Daten', '/data_munging/dynamic_data'
		%li
			=link_to 'Webframeworks', '/data_munging/frameworks'
			und
			=link_to 'ORM', '/data_munging/orm'
		%li
			=link_to 'REST', '/data_munging/rest'
			und
			=link_to 'SOAP', '/data_munging/rest'
%article
	%h2 Links und Tools zum Thema Datenextraktion und Datenbereitstellung
	%ul
		%li=link_to 'TIKA', '/data_munging/tika'
		%li=link_to 'Cloud File Converter', 'http://www.tei-c.org/oxgarage/', :rel => "nofollow"
		%li=link_to 'Sinatra', 'http://www.sinatrarb.com/', :rel => "nofollow"
		%li=link_to 'Ruby on Rails', 'http://rubyonrails.org/', :rel => "nofollow"
%article
	%h2 Literatur
	%ul
		%li
			=link_to 'TIKA in Action', 'http://manning.com/mattmann/', :rel => "nofollow"
			%p Für Java-Programmierer.
		%li
			=link_to 'Data Munging with Perl', 'http://www.manning.com/cross/', :rel => "nofollow"
			%p Für Perl Hacker
		



