%header
	%h1 JavaScript Object Notation (JSON)
%section
	%h2 Beschreibung : JSON
	%article
		%h3 Allgemein
		%p JSON ist ein verbreitetes menschenlesbares Datenaustauschformat, welches XML im Bereich vieler Anwendungen als Austauschformat ersetzt hat.
%section
	%h2 Struktur
	%article
		%h3 Formatierung
		%p Nicht erwünscht
		%h3 Layout / Typen
		%p keine
		%h3 Logische Strukturierung
		%p
			Durch Syntaxelemente aus Javascript:
			%ul
				%li {} -> Hashes, Maps
				%li [] -> Listen, Array
				%li true, false
				%li Strings innerhalb von "" oder ''
				%li null
		
%section
	%h2 Besonderheiten
	%article
		%h3 JSON und Javascript
		%p JSON benutzt Javascriptsyntax um Objekte darzustellen. Jedes JSON sollte per eval() als Javascript interpretiert werden können.
		%h3 JSON und AJAX
		%p JSON eignet sich gut um Daten für asynchronen Webanwendungen bereitzustellen, da diese intern beriets JavaScript nutzen.
		%h3 JSON und XML
		%p JSON erzeugt weniger Overhead als XML und ist schneller zu parsen.

%section
	%header
		%h2 Beispiele
		%article
			%h3 Unformatiert
			:preserve
				{"source":{"author":null,"code":"/*\r\nC++ - Vorlesung: hello_world.cpp\r\nAutor: Andreas Neumann\r\nDatum: 06.03.2011\r\nBeschreibung: Gibt >Hello World!< auf dem Terminal aus.\r\n*/\r\n\r\n#include <iostream>\r\n\r\nusing namespace std;\r\n\r\nint main() {\r\n\t\r\n\tcout << \"Hello World!\" << endl;\r\n\t\r\n}","created_at":"2011-05-21T14:03:06Z","description":"Hallo Welt. Einf\u00fchrendes Programm.","id":1,"language":"cpp","tag":null,"title":"C++ Vorlesung 1 - Hallo Welt","updated_at":"2011-05-21T16:20:33Z"}}
			%h3 Formatiert
			~sanitize highlight "{\"source\":{\n\t\"author\":null,\n\t\"code\":\"/*C++ - Vorlesung: hello_world.cpp\n\t\tAutor: Andreas Neumann\n\t\tDatum: 06.03.2011\n\t\tBeschreibung: Gibt >Hello World!< auf dem Terminal aus.\n\t\t*/\n\t\t#include <iostream>\n\t\tusing namespace std;\n\t\tint main() {\n\t\t\tcout << \"Hello World!\" << endl;\n\t\t}\",\n\t\"created_at\":\"2011-05-21T14:03:06Z\",\n\t\"description\":\"Hallo Welt. Einf\u00fchrendes Programm.\",\n\t\t\"id\":1,\n\t\t\"language\":\"cpp\",\n\t\t\"tag\":null,\n\t\t\"title\":\"C++ Vorlesung 1 - Hallo Welt\",\n\t\t\"updated_at\":\"2011-05-21T16:20:33Z\"}\n}", :json
			%h3 Download
			=link_to 'Beispiel herunterladen', '/sources/1.json'
			
%section
	%header
		%h2 JSON - Plattformen die JSON nutzen, ein Auszug
		%article
			%p JSON ist der de facto Standard für APIs im Web. Hier folgt ein Auszug, der aber nur an der Oberfläche kratzen kann:
			%ul
				%li
					%h3 Google Maps
					=link_to 'Goolge Maps API-Doc','https://developers.google.com/maps/documentation/geocoding/#JSON', :rel => 'nofollow'
				%li
					%h3 Fasebook Graph API
					%p=link_to 'Facebook Graph API','https://developers.facebook.com/docs/reference/api/', :rel => 'nofollow'
					%p=link_to 'Ein kleines Beispiel','https://graph.facebook.com/19292868552', :rel => 'nofollow'
				%li
					%h3 Twitter
					%p=link_to 'Twitter API', 'https://dev.twitter.com/docs/api', :rel=> 'nofollow'
					%p=link_to 'Twitter Account als JSON','https://api.twitter.com/1/users/show.json?screen_name=andreas_neumann&include_entities=true', :rel => 'nofollow'
				%li ...
				

			
%section
	%header
		%h2 Anzeigen, Erstellen und Verarbeiten
		%article
			%p Als Austauschformat wird JSON primär programmatisch genutzt.
			%h3 JSON erstellen
			%p Viele Programmiersprachen bieten Klassen um JSON OBjekte/ Elemente aus den spracheigenen Elementen zu erzeugen.
			%ul
				%li
					Scala:
					~sanitize highlight "JSONObject(Map (\"names\" -> List(\"Maier\", \"Müller\", \"Magerle\"),\"count\" -> 3))\n\nres3: scala.util.parsing.json.JSONObject = {\"names\" : List(Maier, Müller, Magerle), \"count\" : 3}", :scala
				%li
					Ruby
					~sanitize highlight "ruby-1.9.2-p290 :006 > JSON.generate [ \"names\" => [ \"Maier\", \"Müller\", \"Magerle\"] , \"count\" => 3]\n => \"[{\"names\":[\"Maier\",\"Müller\",\"Magerle\"],\"count\":3}]\" ", :ruby
			%h3 JSON verarbeiten
			%p In den meisten Sprachen werden JSON-Objekte auf die eignen Sprachelemente abgebildet.
			%ul
				%li
					Ruby
					~sanitize highlight "ruby-1.9.2-p290 :007 > JSON.parse \"[{\"names\":[\"Maier\",\"Müller\",\"Magerle\"],\"count\":3}]\" \n=> [{\"names\"=>[\"Maier\", \"Müller\", \"Magerle\"], \"count\"=>3}]", :ruby

%section
	%header
		%h2 Beispiel für die Nutzung von JSON um asynchron Inhalte nachzuladen (AJAX)
	%article
		%h3 Einen Tweet auf Knopfdruck laden
		%p ...
		#click_me [Drück Mich]
		#click_me_tweet
		:javascript
			$("#click_me").click(function(){fetch_last_tweet_for("andreas_neumann")});
			
			function display_last_tweet(tweet_data) {
			
				$("#click_me_tweet").append("<p>" + tweet_data["stauts"]["text"] + "</p>");
			}
			
			function fetch_last_tweet_for(screen_name) {
				var url = "http://api.twitter.com/1/users/show.json?screen_name=" +  screen_name + "&include_entities=true&count=1";
				$.ajax({
				  url: url,
				  crossDomain: true,
				  dataType: "jsonp",
				  success: display_last_tweet
				});
			}
			
			
				

= render :partial => "shared/examples"

	
		
