%header
	%h1 Open Document Format - ODF
%section
	%h2 Beschreibung : ODF
	%article
		%h3 Allgemein
		%p Eine Gruppe quelloffener Formate für Büroanwendungen (Textverarbeitung, Tabellenkalkulation, Präsentation ...) die auf XML als Auszeichnungssprache basieren.
%section
	%h2 Struktur
	%article
		%h3 Formatierung
		%p vom Format abhängig. Viel möglich
		%h3 Layout / Typen
		%p durch die auf dem System installierten Schriften begrenzt
		%h3 Logische Strukturierung
		%p vom Format abhängig.
%section
	%h2 Überblick
	%article
	%p=link_to 'mehr zu den Formaten','http://de.wikipedia.org/wiki/OpenDocument'
%section
	%header
		%h2 Beispiele

= render :partial => "shared/examples"

	
		
