%header
	%h1 ORM - object realtional mapper / Objektrelationale Abbildung
%section
	%h2 ORM in Kürze
	%p ORM ist eine Möglichkeit Daten aus einer Datenbank als Objekte darzustellen und Daten aus Objekten in eine Datenbank zu schreiben.
	%p
		Eine bekannte und verbreitete Implementierungsmethode ist das Entwurfsmuster / Pattern
	 	%strong Active Record 
		von Martin Fowler.
%section
	%h2 Verbreitete ORM-Bibliotheken
	%article
		%h3 Ruby - Active Record
		=link_to 'Active Record', 'https://github.com/rails/rails/tree/master/activerecord', :rel => 'nofollow'
		%h3 Java - Hibernate
		=link_to 'Hibernate', 'http://www.hibernate.org/', :rel => 'nofollow'
		
		
	
		
