%header
	%h1 PDF - Portable Document Format
%section
	%h2 Beschreibung : PDF
	%article
		%h3 Allgemein
		%p PDF ist als orimär als Anzeigeformat konzipiert.
		%p Ziel ist es, dass der im PDF gespeicherte Inhalt unabhängig von Plattform und verwendete Software immer gleich angezeigt wird.
		
%section
	%header
		%h2 Alternative OCR-Formate

= render :partial => "shared/examples"

	
		
