%header
	%h1 SOAP
%section
	%h2 SOAP - kurz
	%article
		%p XML-basiertes Protokoll um Informationen über Netzwerke auszutauschen und Remote Procedure Calls auszuführen.
%section
	%h2 Wissenswertes
		%article
			%h3 SOAP - Simple Object Access Protocol
			%p SOAP wurde immer komplexer, deshalb wurde die Bezeichnung Simple Object Access Protocol fallen gelassen.
			
			%h3 WSDL
			
	

	
		
