%header
	%h1 TEI - Text Encoding Initiative
%section
	%h2 Beschreibung : TEI
	%article
		%h3 Allgemein
		%p Komplexes XML Format zur Annotierung von Texten. Das "Format" hat in den Geisteswissenschaften breite Verbreitung gefunden.
		%p Es gibt nicht ein TEI-Format sondern ein Basisset, das mit verschiedenen "Modulen" erweitert werden kann.
%section
	%h2 Struktur
	%article
		%h3 Formatierung
		%p kann mit Tags aus Modulen und Basis annotiert werden
		%h3 Layout / Typen
		%p kann mit Tags aus Modulen und Basis annotiert werden
		%h3 Logische Strukturierung
		%p XML, Semantik wird überdies durch die ausgewählten Module bestimmt.
%section
	%h2 Besonderheiten
	%article
		%h2 Module
		%p Link zu Modulen: http://www.tei-c.org/Roma/startroma.php?mode=main
%section
	%h2 Mehr zu TEI
	%article
		%h3 Tutorials
		%p http://www.tei-c.org/Support/Learn/tutorials.xml
		
%section
	%header
		%h2 Arbeiten mit TEI-Datei 
	%article
		%h3 TEI - Daten erstellen, bearbeiten und anzeigen
		%p TEI Dateien lassen sich mit einem beliebigen Texteditor erstellen und bearbeiten. Hier ist die Fehleranfälligkeit ziemlich groß.
		%p Alternativ lassen sich XML-Editoren wie Oxygen verwenden:
		%p= image_tag 'data_munging/tei_in_oxygen.png'
		%p oder sogar normale IDEs wie das Visual Studio verwenden.
		%p= image_tag 'data_munging/tei_viewer.png'
		%p Link zu TEI-Tools: http://wiki.tei-c.org/index.php/Category:Tools
	%article
		%h3 TEI - Koverertierung in andere Formate
		%p http://www.tei-c.org/Tools/Stylesheets/index.xml
		
%section
	%header
		%h2 Beispiele
	%article
		%h3 Ein in TEI verpacktes Gedicht
		~sanitize highlight @tei_example, :xml
		%h3 Friedrich Schiller Text in TEI annotiert
		%p Quelle: Text-Grid Projekt
		%p=link_to "Schiller TEI","/data/data_munging/tei_schiller_xml.zip"
= render :partial => "shared/examples"

	
		
