%header
	%h1 Wikipedia Dumps
%section
	%h2 Beschreibung : Wikipeda
	%article
		%h3 Allgemein
		%p http://dumps.wikimedia.org/backup-index.html 
%section
	%h2 Struktur
	%article
		%h3 Formatierung
		%p Nicht erwünscht
		%h3 Layout / Typen
		%p keine
		%h3 Logische Strukturierung
		%p wird durch Trennzichen erreich. Üblich sind "\n" um Zeilen und "," um Splaten zu trennen.
%section
	%h2 Besonderheiten
	%article
		%h2 Zeichentrenner
		%p Es gibt keinen wirklichen Standard nur Konventionen. Als Zeilentrenner werden meist Varianten von "\n, \r" benutzt. Als Splatentrenner finden häufig ",",";","\t" Verwendung.
%section
	%header
		%h2 CSV-Datei erstellen, bearbeiten und anzeigen
		%p CSV Dateien lassen sich mit einem beliebigen Texteditor erstellen und bearbeiten. Hier ist die Fehleranfälligkeit ziemlich groß.
		%p Man kann CSV-Dateien aus fast allen Tabellenkalkulationsprogrammen als Exportformat erzeugen und auch in diese importieren. Dabei findet im normalfall auch eine Konsistenzprüfung im Hinsicht auf die Trennzeichen statt.
%section
	%header
		%h2 Beispiele

= render :partial => "shared/examples"

	
		
