%header
	%h1 Wikipedia Dumps
%section
	%h2 Beschreibung : Wikipeda
	%article
		%h3 Allgemein
		%p http://dumps.wikimedia.org/backup-index.html 
%section
	%h2 Struktur
	%article
		%h3 Formatierung
	
		%h3 Layout / Typen
		
		%h3 Logische Strukturierung
		
%section
	%h2 Besonderheiten
	%article
		%h2
%section
	%header
		%h2 CSV-Datei erstellen, bearbeiten und anzeigen
		
%section
	%header
		%h2 Beispiele

= render :partial => "shared/examples"

	
		
