%header
	%h1 Word
%section
	%h2 Beschreibung : 
	%article
		%h3 Allgemein
		%p Word Dateien sind das Datenformat des populären Windows-Textverarbeitungsprogrammes Microsoft Word. Neben PDF und ODF sind Word-Dateien der de facto Standard im Schriftverkehr.
%section
	%h2 Struktur
	%article
		%h3 Formatierung
		%p Als Textverarbeitungsprogramm erlaubt Word nahezu alle Formatierungen.
		%h3 Layout / Typen
		%p Begrenzt nur durch auf dem Computer installierte Schriftarten
		%h3 Logische Strukturierung
		%p möglich, wird aus Unkenntnis selten eingesetzt
%section
	%h2 Besonderheiten
	%article
		%h2 Varianten
		%h3 .doc - Word bis 2003
		%p Binäres und urpsrünglich proprietäre Dateiformate, die sogar unter unterschiedlichen Word-Versionen inkompatibel waren wurden bis zur Version Word 2007 eingesetzt. Heute immer noch verbreitet.
		%h3 .docx -Word ab 2003
		%p Ab Word 2007 gibt es das auf XML basierende .docx Format.
		=link_to 'mehr dazu auf Wikipedia', 'http://de.wikipedia.org/wiki/Office_Open_XML', :rel => 'nofollow'
		%h3 Makros
		%p Word erlaubt in VBA-Script geschriebene Makros einzubinden.
		%h3 Logische Strukturierung
		%p Logische Strukturierung in Word Dokumenten ist möglich. Sie wird aufgrund der Unkenntnis der meisten Anwender jedoch nur selten eingesetzt.
		
%section
	%header
		%h2 Word-Dateien erstellen, anzeigen und bearbeiten
	%article
		%h3 Anzeigen
		%p Word Dateien können mit den meisten Textverarbeitungsprogrammen angezeigt werden. Dabei kommt es manchmal zu abweichender Darstellung (Seitenumbrüche, Formatierungen ...).
		%p 
			Eine 100% korrekte Anzeige kann über den 
			=link_to 'Word-Viewer', 'http://www.microsoft.com/downloads/de-de/details.aspx?FamilyID=3657ce88-7cfa-457a-9aec-f4f827f20cac', :rel => 'nofollow'
			oder der Word-Version mit der das Dokument erstellt wurde erreicht werden.
		%h3 Erstellen
		%p
			Die mesiten Word-Dateien werden mit einer Version von Microsoft Word aus dem Office Paket erstellt.
			Daneben existiert in vielen Textverarbeitungsprogrammen die Möglichkeit Word als Exportformat zu verwenden.
		%h3 Bearbeiten
		%p Word-Dateien können mit Microsoft Word und den meisten gängigen Textverarbeitungsprogrammen verarbeitet werden.
		%h3 Programmatisch verarbeiten
		%p TIKA
		
		
		
%section
	%header
		%h2 Beispiele
	%ul
		
= render :partial => "shared/examples"

	
		
