html {
	margin:0;
	padding:0;
	font-family: Verdana, sans-serif;
	font-size: 11pt;
	background-color:#222;
	color:#FFF;
}

article {
	font-size:smaller;
	margin-left:1em;
	margin:0.5em 0px;
	color: #333;
	background-color: #FEFEFE;
	padding: 1em;
	border-radius: 0.5em;
}


h1 {
	color: #FFF;
	background-color: #1A99B2;
	padding:0.3em;
	margin:0.5 1.5em;
	font-weight: lighter
	border-radius:0.5em;
	-webkit-border-radius:0.5em;
	-moz-border-radius:0.5em;
}

h2 {
	font-weight:lighter;
	border-bottom:0.1em solid #1A99B2;
}

h3 {
	border-bottom:0.1em solid #1A99B2;
}

pre {
	margin:0px;
	padding:1em;
	background-color: #FEFEFE;
	font-family:monospace;
	background-color:#EEE;
	color:#333;
	border-radius:0.5em;
}


li {
	list-style-type: square;
}

li ul li{
	font-size:smaller;
	margin-left:-1.2em
}

a {
	color:#1A99B2;
	font-weight:bolder;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


table {
	text-align:left;
	color:#FFF;
}

th {
	padding:0.2em
}

td {
	padding:0.5em;
}

tr:nth-child(2n+1) {
	background-color:#444;
}

tr:nth-child(2n) {
	background-color:#555;
}

td {
	font-style:italic;
	font-size:smaller;
}

#page {
	display:block;
	width: 90%;
	margin: 15px auto;
	border:0.1em solid #EEE;
	background-color: #333;
	color:#FAFAFA;
}



#page_navigation {
	width:22%;
	float:left;
	overflow:auto;

}

#page_main {
	margin:0 1em;
	float:left;
	width:70%;
	overflow:auto;
}



#page_header {
	border-bottom: 0.1em solid #FFF;
	padding:0.2em;
	background-color: #1A99B2;
	
}


#page_header h1{
	font-family: Verdana, sans-serif;
	border-bottom: 0.1em solid #FFF;
	font-weight: lighter;
	border:none;
}



#like_buttons {
	float:right;
	display:inline;
}

#like_buttons li {
	list-style-type:none;
	margin-top:0.5em;
	margin-right: 0.5em;
}

#page_footer {
	font-size:smaller;
	text-align:left;
	background-color:#555;
	border-top:0.1em solid #FFF;
	padding-left:1em;
}

.cleaner {
	display:block;
	clear:both;
}

header, article, section, footer {
	display:block;
}

.in {
	font-style:italic;
}

.authors {
	font-size:smaller;
}

.klausurergebnisse {
	font-family:Monospace;
	padding:1em;
}

footer p {
	margin:0;
	font-size:smaller;
	padding: 0.5em;
	
}


